version: '3.8'
services:
  python:
    build:
      context: .
      args:
        TIMEZONE: Asia/Seoul
        PYTHON_VERSION: "3.13.9"
        PYTHON_PACKAGE: ""
    restart: always

  jupyterlab:
    build:
      context: .
      dockerfile: jupyter.Dockerfile
      args:
        TIMEZONE: Asia/Seoul
        PYTHON_VERSION: "3.13.9"
        PYTHON_PACKAGE: "jupyterlab jupyterlab-git"
        DEBIAN_PACKAGE: "git nodejs npm"
        EXPOSE: 8888
    ports:
    - 8888:8888
    volumes:
    - .:/data
    restart: always
#    command: "jupyter lab --ip=* --port=8888 --no-browser --notebook-dir=/data --allow-root"